@import "../../../styles//utilities/utilities";

.werte-container{
    background: #fff;
    padding-top: 128px;
   
}
.werte-heading{
    padding-left: 80px;
}

.werte-content-container{
    background-color: $secondary-color;
    padding: 128px 80px;
    
}

.content-line{
    color: #fff;
}
.about-content{
    padding-bottom: 64px;
}
.about-parolen-container{
    padding-bottom: 64px;
}