@import "./utilities/utilities";
@import "~react-md/dist/react-md";
@include react-md-utils;

@font-face {
    font-family: "Modern Era";
    src: url();
}

html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    font-size: 22px;
    line-height: 32px;
    background-color: #fff !important;
    position: relative;
}

p{
    font-weight: 400;
}
h1,h2,h4,h5{
    font-weight: 800;
}

h6{
    font-weight: 400;
    color: $primary-color;
    margin: 0;
}

h1{
    
    font-size: 80px;
    line-height: 80px;
    margin: 0;

}
h2{
    font-size: 128px;
    line-height: 144px;
    margin: 0;
}
h3{
    font-size: 30px;
    line-height: 48px;
    margin: 0;
    padding-left: 80px;
    font-weight: 600;
    
}
h4{
    font-size: 32px;
    line-height: 35.2px;
    margin: 0;
    font-weight: 600;
}
h5{
    margin:0;
    font-size: 16px;
    line-height: 19.2px;
}

p{
    font-size: 22px;
    line-height: 32px;
    margin: 0;
}
img{
    margin: 0;
}

