@import "../../../styles/utilities/utilities";


.header{
    position: absolute;
    font-family: sans-serif;
   
    z-index: 10;
    left: 0;
    right: 0;
    background-color: transparent;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.container{
    max-width: 1200px;
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
        @media only screen and (max-width: 1440px){
max-width: 1440px;
        }
        @media only screen and (min-width: 1600px) {
            max-width: 1600px;
            
        }
        @media only screen and (min-width: 1920px){
            min-width: 1920px;
        }
            
        }
      

.header-division{
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    align-items: center;
   

}
.links-div{
    text-decoration: none;
    color: white;
    display: flex;
    float: left;

}
.search-div{
    color: white;
    justify-content: space-between;
    align-items: center;
  
    display: flex;
}
.header-link{
  
    
    text-decoration-color: none;
    text-decoration: none;
    color: white;
    padding-right: 32px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}
.search-icon{
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    padding : 12px 14px;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-right: 3px;
}
.searchtext{
    padding-left: 12.28px;
    color: #fff;
    opacity: 60%;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}