@import "../../../styles/utilities/utilities";


.header{
    position: absolute;
   
    z-index: 10;
    left: 0;
    right: 0;
    background-color: transparent;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.container{
    max-width: 1200px;
    margin: auto;
}
.header-division{
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    align-items: center;
   

}
.links-div{
    text-decoration: none;
    color: white;
    display: flex;
    float: left;

}
.search-div{
    color: white;
    justify-content: space-between;
    align-items: center;
  
    display: flex;
}
.header-link{
  
    font-family: Modern Era;
    text-decoration-color: none;
    text-decoration: none;
    color: white;
    padding-right: 32px;
    font-size: 20px;
    line-height: 20px;
}
.search-icon{
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select{
    background-color: transparent;
    width: 61px;
    height: 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 16px;
}