.hero{
    position: relative;
    width: 100%;

}
.images-division{
    display: flex;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
}
.banner-division{
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.logo-div{
    position: absolute;
   
    height: auto;
    bottom: -1px;
   
    
}